@import '../../../styles/variables';

.addBtn {
   margin: 10px auto 0;
   padding: 10px 30px;
   background-color: #fff;
   border: 1px solid $orange;
   border-radius: 20px;
   font-weight: 600;
   font-size: 17px;
   color: $orange;
   text-transform: unset;
   cursor: pointer;
   transition: all 0.2s ease-in-out;

   &:hover {
      background-color: $orange;
      color: #fff;

      svg path {
         fill: #fff;
      }

      .sushiCount {
         background-color: #fff;
         color: $orange;
      }
   }

   svg {
      margin-right: 4px;
   }

   svg path {
      fill: $orange;
      transition: all 0.2s ease-in-out;
   }

   @media (min-width: 460px) {
      padding: 8px 20px;
      font-size: 16px;
   }
}

.countBtns {
   margin-top: 10px;
   display: inline-flex;
   align-items: center;
   gap: 3px;

   .buttonCart {
      padding: 3px 7px;
      background-color: #fff;
      border: 2px solid $orange;
      border-radius: 25px;
      transition: all 0.2s ease-in-out;

      &:hover {
         background-color: $orange;

         svg {
            path {
               fill: #fff;
            }
         }
      }

      &:active {
         transform: translateY(7px);
      }
   }

   .minus {
      svg {
         path:first-of-type {
            display: none;
         }
      }
   }

   b {
      font-size: 17px;
   }

   @media (min-width: 700px) {
      width: 90px;
      gap: 5px;

      .buttonCart {
         padding: 4px 8px;
      }

      b {
         font-size: 18px;
      }
   }

   @media (min-width: 900px) {
      .buttonCart {
         padding: 5px 9px;
      }

      b {
         font-size: 19px;
      }
   }

   @media (min-width: 1100px) {
      b {
         font-size: 20px;
      }
   }
}