@import './variables';

body {
   margin: 0;
   padding: 0;
   background-color: $background;
   font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1 {
   font-size: 48px;
}

h2 {
   font-weight: 600;
   font-size: 28px;
   line-height: 30px;
}

li {
   list-style-type: none;
}

a {
   text-decoration: none;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
   color: $black;
}

.button {
   padding: 12px 25px;
   text-align: center;
   background: none;
   border: none;
   border-radius: 10px;
   background-color: #232323;
   color: #fff;
   font-size: 15px;
   font-weight: 500;
   text-transform: uppercase;
   cursor: pointer;
   transition: background-color $duration ease-in-out;

   &:hover {
      background-color: lighten($color: $black, $amount: 10);
   }

   &--cart {
      display: flex;
      align-items: center;
      padding: 10px 13px;
      background-color: $orange;
      border-radius: 25px;

      span {
         font-size: 14px;
         color: #fff;
      }

      svg {
         margin-right: 5px;
      }

      &:hover {
         background-color: darken($orange, 10%);
      }

      @media (min-width: 500px) {
         padding: 12px 25px;

         span {
            font-size: 15px;
         }
      }
   }

   &__divider {
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
      margin-left: 8px;
      margin-right: 8px;

      @media (min-width: 500px) {
         margin-left: 14px;
         margin-right: 14px;
      }
   }
}

.wrapper {
   max-width: 1400px;
   background-color: #fff;
   border-radius: 10px;
   margin: 10px auto;

   @media (min-width: 550px) {
      width: calc(100vw - 50px);
      margin: 20px auto;
   }

   @media (min-width: 820px) {
      width: calc(100vw - 100px);
      margin: 40px auto;
   }
}

main {
   padding-bottom: 25px;
}

.container {
   padding: 0 10px;

   @media (min-width: 500px) {
      padding: 0;
      max-width: 90%;
      margin: 0 auto;
   }
}

.orange {
   color: $orange;
}