@import './../../styles/variables';

.cartItem {
   display: flex;
   align-items: center;
   justify-content: space-between;

   .mainInfo {
      img {
         width: 130px;
         height: 90px;
      }

      h3 {
         font-weight: bold;
         font-size: 18px;
         line-height: 27px;
         letter-spacing: 0.01em;
      }

      @media (min-width: 600px) {
         display: flex;
         align-items: center;

         img {
            width: 150px;
            height: 100px;
         }
      }

      @media (min-width: 700px) {
         img {
            width: 210px;
            height: 150px;
         }

         h3 {
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.01em;
         }
      }
   }

   &Count {
      display: flex;
      align-items: center;
      gap: 5px;

      .buttonCart {
         padding: 3px 7px;
         background-color: #fff;
         border: 2px solid $orange;
         border-radius: 25px;
         transition: all 0.2s ease-in-out;

         &:hover {
            background-color: $orange;

            svg {
               path {
                  fill: #fff;
               }
            }
         }

         &:active {
            transform: translateY(7px);
         }
      }

      .minus {
         svg {
            path:first-of-type {
               display: none;
            }
         }
      }

      b {
         // font-size: 22px;
         font-size: 18px;
      }

      @media (min-width: 700px) {
         gap: 10px;

         .buttonCart {
            padding: 6px 10px;
         }

         b {
            font-size: 22px;
         }
      }
   }

   &Price {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.01em;

      @media (min-width: 700px) {
         font-size: 22px;
      }
   }

   &Remove {
      .removeButton {
         padding: 3px 7px;
         background-color: #fff;
         border: 2px solid darken($color: $gray-line, $amount: 10);
         border-radius: 25px;
         transition: all 0.2s ease-in-out;

         &:active {
            transform: translateY(7px);
         }

         svg {
            transform: rotate(45deg);

            path {
               fill: darken($color: $gray-line, $amount: 15);
            }

            &:hover,
            &:active {
               border-color: darken($color: $gray-line, $amount: 80);
               background-color: darken($color: $gray-line, $amount: 80);
            }
         }

         @media (min-width: 700px) {
            padding: 6px 10px;
         }
      }
   }
}