@import './../../styles/variables';

.cartItem {
   display: flex;
   align-items: center;
   justify-content: space-between;

   .mainInfo {
      width: 130px;

      img {
         width: 130px;
         height: 90px;
      }

      h3 {
         font-weight: bold;
         font-size: 18px;
         line-height: 27px;
         letter-spacing: 0.01em;
      }

      @media (min-width: 600px) {
         width: 280px;
         display: flex;
         align-items: center;

         img {
            width: 150px;
            height: 100px;
         }
      }

      @media (min-width: 900px) {
         width: 310px;

         img {
            width: 190px;
            height: 130px;
         }
      }

      @media (min-width: 1100px) {
         width: 360px;

         img {
            width: 220px;
            height: 150px;
         }

         h3 {
            font-size: 20px;
         }
      }
   }

   &Count {
      width: 80px;
      display: flex;
      align-items: center;
      gap: 3px;

      .buttonCart {
         padding: 3px 7px;
         background-color: #fff;
         border: 2px solid $orange;
         border-radius: 25px;
         transition: all 0.2s ease-in-out;

         @media (hover: hover) {
            &:hover {
               background-color: $orange;

               svg {
                  path {
                     fill: #fff;
                  }
               }
            }
         }

         @media (hover: none) {
            &:active {
               background-color: $orange;

               svg {
                  path {
                     fill: #fff;
                  }
               }
            }
         }

         &:active {
            transform: translateY(7px);
         }
      }

      .minus {
         svg {
            path:first-of-type {
               display: none;
            }
         }
      }

      b {
         font-size: 17px;
      }

      @media (min-width: 700px) {
         width: 90px;
         gap: 5px;

         .buttonCart {
            padding: 4px 8px;
         }

         b {
            font-size: 18px;
         }
      }

      @media (min-width: 900px) {
         width: 95px;

         .buttonCart {
            padding: 5px 9px;
         }

         b {
            font-size: 19px;
         }
      }

      @media (min-width: 1100px) {
         b {
            font-size: 20px;
         }
      }
   }

   &Price {
      width: 70px;
      font-weight: bold;
      font-size: 17px;
      letter-spacing: 0.01em;

      @media (min-width: 700px) {
         width: 80px;
         font-size: 18px;
      }

      @media (min-width: 900px) {
         width: 85px;
         font-size: 19px;
      }

      @media (min-width: 1100px) {
         font-size: 20px;
      }
   }

   &Remove {
      .removeButton {
         padding: 2px 6px;
         background-color: #fff;
         border: 2px solid darken($color: $gray-line, $amount: 10);
         border-radius: 25px;
         transition: all 0.2s ease-in-out;

         &:active {
            transform: translateY(7px);
         }

         svg {
            transform: rotate(45deg);

            path {
               fill: darken($color: $gray-line, $amount: 15);
            }

            @media (hover: hover) {
               &:hover {
                  border-color: darken($color: $gray-line, $amount: 80);
                  background-color: darken($color: $gray-line, $amount: 80);
               }
            }

            @media (hover: none) {
               &:active {
                  border-color: darken($color: $gray-line, $amount: 80);
                  background-color: darken($color: $gray-line, $amount: 80);
               }
            }
         }
      }

      @media (min-width: 700px) {
         .removeButton {
            padding: 5px 9px;
         }
      }

      @media (min-width: 900px) {
         .removeButton {
            padding: 6px 10px;
         }
      }
   }
}