.search {
   margin: 0 auto;
   order: 3;
   display: flex;
   align-items: center;
   gap: 10px;

   .searchInput {
      display: flex;
      position: relative;

      .searchIcon {
         position: absolute;
         left: 10px;
         top: 12px;
      }

      input {
         width: 220px;
         padding: 12px 40px 12px 40px;
         border: 1px solid rgba(0, 0, 0, 0.1);
         border-radius: 10px;
         outline: none;
         font-size: 16px;

         &:focus {
            border: 1px solid black;
         }

         @media (min-width: 500px) {
            width: 300px;
         }

         @media (min-width: 750px) {
            width: 400px;
         }

         @media (min-width: 1061px) {
            width: 330px;
         }

         @media (min-width: 1200px) {
            width: 400px;
         }
      }

      .clearIcon {
         position: absolute;
         right: 10px;
         top: 12px;
         opacity: 0.3;
         transition: opacity 0.2s ease-in;
         cursor: pointer;

         &:hover {
            opacity: 1;
         }
      }
   }

   @media (min-width: 1061px) {
      order: unset;
      // margin: 0 15px;
   }
}